.spacer {
  flex: 1 1 auto;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu-item {
  margin: 15px;
}

.menu-item a {
  color: white;
  text-decoration: none;
}

.menu-link-active {
  font-weight: bolder;
  text-decoration: underline;
}